annotated-types==0.7.0
asgiref==3.11.1
cachetools==7.1.1
certifi==2026.4.22
chardet==7.4.3
charset-normalizer==3.4.7
cssselect==1.4.0
cssutils==2.15.0
Django==6.0.5
encutils==1.0.0
idna==3.13
loguru==0.7.3
lxml==6.1.0
more-itertools==11.0.2
premailer==3.10.0
pydantic==2.13.3
pydantic_core==2.46.3
requests==2.33.1
SQLAlchemy==2.0.49
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
yagmail==0.15.293
